body {
    margin: 0;
    background-image: url(desktop/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    font-family: "Barlow Condensed";
    color: white;
}

.container {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 100px 50px;
    border-radius: 15px;
}

article {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    border-radius: 15px;
}

header h1 {
    font-family: "Bungee Shade";
    font-size: 6vw;

    padding: 20px;
}

nav {
    display: flex;
    gap: 5px;
    margin: 50px 20px;
}


nav div {
    flex-grow: 1;
    background-color: rgba(181, 181, 181, 0.9);
    color: black;
    text-align: center;
    font-size: 2vw;
    padding: 15px;
    border-radius: 15px;
}

.marked {
    border: 1px solid white;
    box-shadow: 0px 0px 7px white;
}

.album_data h1 {
    font-family: "Bungee Outline";
}